@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    /* fonts */
    --first-font: "Young Serif", serif;
    --second-font: "Outfit", sans-serif;

    /* Colors */
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: var(--second-font);
}

.omelette__img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.omelette__description {
    padding: 2rem;
}

.omelette__description h2 {
    font-family: var(--first-font);
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: var(--Dark-Charcoal);
}

.omelette__description p {
    font-family: var(--second-font);
    font-size: 1rem;
    color: var(--Dark-Charcoal);
}

.section__preparation {
    background-color: var(--Rose-White);
    margin: 2rem 0;
    padding: 2rem;
    border-radius: 1.5rem;
    width: calc(100vw - 4rem);
}

.section__preparation h2 {
    color: var(--Dark-Raspberry);
    font-family: var(--second-font);
    font-size: 2rem;
}

.section__preparation ul {
    list-style: none;
    padding: 0;
}

.section__preparation li {
    font-family: var(--second-font);
    color: var(--Dark-Charcoal);
    font-size: 1rem;
    padding: 0.85rem 0;
    line-height: 1.5rem;
    position: relative;
    padding-left: 1.5rem;
}

.section__preparation li:before {
    content: "\2022";
    color: var(--Dark-Raspberry);
    position: absolute;
    left: 0;
    font-size: 1.5rem;
}

.section__ingredients {
    padding: 2rem;
    font-family: var(--second-font);
    margin-bottom: 3rem;
}

.section__ingredients h2 {
    font-size: 2rem;
    font-family: var(--first-font);
    color: var(--Nutmeg);
}

.section__ingredients ul {
    list-style: none;
    padding: 0;
}

.section__ingredients li {
    font-size: 1rem;
    line-height: 1.5rem;
    position: relative;
    padding-left: 1.5rem;
}

.section__ingredients li:before {
    content: "\2022";
    color: var (--Dark-Raspberry);
    position: absolute;
    left: 0;
    font-size: 1.5rem;
}

hr {
    width: calc(100vw - 4rem);
    margin: 2rem;
}

.section__instructions {
    padding: 2rem;
}

.section__instructions h2 {
    color: var (--Nutmeg);
    font-size: 2rem;
    font-family: var (--first-font);
}

.section__instructions li {
    font-family: var (--second-font);
    font-weight: 700;
    color: var (--Dark-Raspberry);
    font-size: 0.95rem;
    padding: 0.85rem 0;
    line-height: 1.5rem;
    position: relative;
    padding-left: 1.5rem;
}

.section__instructions .instrictions__bold {
    font-weight: 700;
    color: var (--Dark-Charcoal);
}

.section__instructions .instrictions__color {
    color: var (--Dark-Charcoal);
    font-weight: 400;
}

.section__instructions ol {
    list-style: decimal;
    padding-left: 1.5rem;
}

.section__instructions ol li::before {
    color: var (--Dark-Raspberry);
}

.section__nutrition h2 {
    font-size: 2rem;
    color: var (--Nutmeg);
    padding: 2rem;
    font-family: var (--first-font);
}

.description__nutrtion {
    font-family: var (--second-font);
    font-size: 1rem;
    line-height: 1.5rem;
    color: var (--Dark-Charcoal);
    padding: 2rem;
}

.nutritional__info {
    padding: 1rem;
    align-items: center;
}

.info__content {
    font-size: 1rem;
    line-height: 1.5rem;
    color: var (--Dark-Charcoal);
}

.infos {
    display: flex;
    justify-content: space-around;
    padding: 0 2rem;
}

.info__value {
    color: var (--Dark-Raspberry);
    font-weight: 700;
}

.nutritional__info hr {
    width: 90vw;
    margin: 2rem auto;
}

.attribution {
    margin: 2rem 0;
    color: var (--Dark-Charcoal);
    font-family: var (--second-font);
    font-size: 0.7rem;
    text-align: center;
}

.attribution a {
    color: var (--Dark-Raspberry);
}

@media only screen and (min-width: 376px) {
    .omelette__img {
        width: 80vw;
        border-radius: 10px;
        margin: 3rem auto 0 auto;
    }

    .omelette__description {
        margin: 0 auto;
        width: 80vw;
        text-align: center;
    }

    .omelette__description h2 {
        font-size: 4rem;
    }

    .omelette__description p {
        font-size: 2rem;
    }

    .section__preparation {
        width: 80vw;
        margin: 2rem auto;
    }

    .section__preparation h2 {
        font-size: 2.5rem;
    }

    .section__preparation ul {
        margin-left: 1rem;
    }

    .section__preparation li {
        font-size: 1.5rem;
    }

    .section__ingredients {
        width: 80vw;
        margin: 2rem auto;
    }

    .section__ingredients h2 {
        font-size: 2.5rem;
    }

    .section__ingredients li {
        font-size: 1.5rem;
    }

    .section__instructions {
        width: 80vw;
        margin: 2rem auto;
    }

    .section__instructions h2 {
        font-size: 2.5rem;
    }

    .section__instructions li {
        font-size: 1.5rem;
    }

    .section__nutrition {
        width: 80vw;
        margin: 2rem auto;
    }

    .section__nutrition h2 {
        font-size: 2.5rem;
    }

    .description__nutrtion {
        font-size: 1.5rem;
    }

    .nutritional__info {
        width: 80vw;
        margin: 2rem auto;
    }

    .nutritional__info hr {
        width: calc(80vw - 2rem);
    }

    .attribution {
        font-size: 1.25rem;
    }
}